* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-light-hsl: 200, 100%, 91%;
    --primary-hsl: 200, 100%, 50%;
    --success-hsl: 100, 60%, 50%;
    --error-hsl: 0, 60%, 50%;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/neom-ihIKOg_lHgI-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

form {
    border-radius: 10px;
    width: 40%;
    background-color: (hsla(201, 100%, 6%, 0.635));
    box-shadow: 0px 2px 10px 0px hsla(201, 100%, 6%, 0.635);
    color: white;
    padding: 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 98%;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input-container input {
    background-color: hsl(var(--primary-light-hsl), .3);
    padding: 10px 17px;
    border: none;
    outline: none;
    border-radius: 7px;
    color: white;
    font-size: 1rem;
}

.input-container.success input {
    box-shadow: 0 0 0 1px hsl(var(--success-hsl));
}

.input-container.error input {
    box-shadow: 0 0 0 1px hsl(var(--error-hsl));
}

.input-container input:focus {
    box-shadow: 0 0 0 1px hsl(var(--primary-hsl));
}

.input-container .msg {
    display: none;
    font-size: .75rem;
}

.input-container.success .msg,
.input-container.error .msg {
    display: block;
}

.input-container.success .msg {
    color: hsl(var(--success-hsl));
}

.input-container.error .msg {
    color: hsl(var(--error-hsl));
}

button {
    outline: none;
    background-color: hsl(var(--primary-hsl), .25);
    padding: .5rem 1em;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    border: 1px solid hsl(var(--primary-hsl));
    border-radius: .25em;
    /* margin-top: 9px; */
}

button:focus,
button:hover {
    background-color: hsl(var(--primary-hsl), .5);

}